.component {
  background: #EFEFEF;
  padding: 10px;
}

.errorHeader {
  padding: 5px;
  color: #fff;
  background: #E94F37;
}

.errorBody {
  padding: 5px;
  color: #D71D00;
  background: rgba(#E94F37, .2);
}

.errorInCode {
  color: #E94F37;
  background: rgba(#E94F37, .1);
}

.highlightCode {
  background: rgba(#fff006, .5);
}
